/*/target
/*/overlays
/repo-amp/alf_data_dev/
/alf_data_dev
/repo-amp/alfresco.log*
/surf-amp/share.log*
/.idea
/solr/solr_home
solr.log
*.DS_Store
*.iml
*.ipr
*.iws
*~
*.bak
*.orig
*.project
/.settings/
